<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lesson04</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>lesson04 v-on 事件监听器</h1>
    <hr>
    <div id="app">
        本场比赛得分：{{ count }}<br/>
        <button v-on:click="add">加分</button>
        <button @click="less">减分</button>
        <input type="text" v-on:keyup.enter="onEnter" v-model="secondCount">
        <!-- <input type="text" v-on:keyup.13="onEnter" v-model="secondCount"> -->
        <!-- <input type="text" v-on:keyup.16="onEnter" v-model="secondCount"> -->
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                count:1,
                secondCount:1
            },
            methods:{
                add:function(){
                    this.count++;
                },
                less:function(){
                    this.count--;
                },
                onEnter:function(){
                    this.count = this.count + parseInt(this.secondCount);
                }
            }
        })
    </script>
</body>
</html>