<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component 组件</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>Component 组件</h1>
    <hr>
    <div id="app">
        <jsbox></jsbox>
        <panda></panda>
    </div>
   
    <script>
        Vue.component('jsbox',{
            template:`
                <div style="color:red">我是全局的组件 jsbox</div>
            `
        });
        var app = new Vue({
            el:'#app',
            components:{
                'panda':{
                    template:`
                        <div style="color:green">我是局部的组件 panda</div>
                    `
                }
            }
        });
       
    </script>
</body>
</html>